/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*header, footer {
    background-color: #b3ffb3;*/ /* Verde claro */
    /*color: #004d00;*/ /* Verde oscuro */
/*}

main {
    background-color: rgba(204, 255, 204, 0.6);*/ /* Verde muy claro semitransparente */
    /*color: #004d00;*/ /* Verde oscuro */
/*}

.sidebar {
    background-color: #ccffcc;*/ /* Verde suave */
    /*color: #004d00;*/ /* Verde oscuro */
    /*opacity: 0.9;
}*/

header, footer {
    background-color: #ff9900; /* Verde claro */
    color: #02c577; /* Verde oscuro */
}

main {
    background-color: rgba(233, 172, 5, 0.46); /* Verde muy claro semitransparente */
    color: #042f04; /* Verde oscuro */
}

.sidebar {
    background-color: #0c1ae4; /* Verde suave */
    color: #004d00; /* Verde oscuro */
    opacity: 0.9;
}