<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unidad3P1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExamenGrupoTostadora.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index" style="color: #007acc;">
                    <img src="https://i.ibb.co/qMsvpgN/Firefly-genera-un-logo-de-una-tienda-de-plnatas-con-fondo-blanco-65730.jpg" alt="Logo" class="rounded-circle me-4" style="width:  4em; height:  4em;">
                    tiendita de plantas :)

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav" style="color: #007acc;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Plantas" asp-action="Index">Plantas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoPlantas" asp-action="Index">TipoPlantas</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" class="container-fluid text-center" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid flex-grow-1">
        <div class="row h-100">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="position-sticky">

                    @await Component.InvokeAsync("TipoPlanta")

                </div>
            </nav>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container m-3">
            <span>tiendita toda humilde con plantas del tropico del chapare- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


